﻿@using ColegioST.Models


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<nav class="navbar navbar-default" id="nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span><span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="A1" class="navbar-brand" href="/Home/Index">Santa Teresita App</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">





            </ul>

        </div>
    </div>
</nav>

<div class="container body-content">



    @model LoginViewModel
    @{
        ViewBag.Title = "Iniciar sesión";
    }

    <h2>@ViewBag.Title.</h2>
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    <h4>Use una cuenta local para iniciar sesión.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label("Usuario", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @*@Html.EditorFor(model => model.Seccion, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.DropDownList("Opcion", new List<SelectListItem>


                   {
                    new SelectListItem{ Text="Administrador", Value = "1" },
                    new SelectListItem{ Text="Docente", Value = "2" },
                    new SelectListItem{ Text="Alumno", Value = "3" },
                    new SelectListItem{ Text="Apoderado", Value = "4" }
                 }, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class='input-group'>
                            <input type='text' class="form-control" name="Email" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-user"></span>
                            </span>
                        </div>
                        <div class="col-md-10">
                            @*@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })*@
                            @*@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        
                        <div class='input-group'>
                                    <input type='text' class="form-control" name="Password" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-lock"></span>
                                    </span>
                        </div>
                        <div class="col-md-10">
                            @*@Html.PasswordFor(m => m.Password, new { @class = "form-control" })*@
                            @*@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    //center div
                    <div align="center">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Iniciar sesión" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>

                    @* Habilite esta opción después de habilitar la confirmación de la cuenta para la función de restablecimiento de contraseña
                        <p>
                            @Html.ActionLink("¿Ha olvidado su contraseña?", "ForgotPassword")
                        </p>*@
                }
            </section>
        </div>
        @*<div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>*@
    </div>


    <hr />
    <footer>
        <p style="text-align: center">&copy; @DateTime.Now.Year - Santa Teresita App</p>
    </footer>
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


<style>
    .input-group {
        margin-left: 15px ;
        margin-right:15px;
    }

    /* navbar */
    .navbar-default {
        background-color: #002b40;
        border-color: #002b40;
    }
</style>