﻿@model ColegioST.Models.Alumno



<nav class="navbar navbar-default" id="nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span><span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="A1" class="navbar-brand" href="/Home/Index">Santa Teresita App</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">


                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/Curso/index">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/Docente/index">Docentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/Alumno/Index">Alumnos</a>
                </li>


            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>

<div class="container body-content">

    @{
        ViewBag.Title = "Details";
    }

    <div style="text-align:center">
        <h3>Información del Alumno</h3>
    </div>

    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
               Nombre
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
                @Html.DisplayFor(model => model.Apellido)
            </dd>

         

            <dt>
               DNI
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Dni)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Estado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Estado)
            </dd>

            <dt>
               Fecha de Nacimiento
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaNac)
            </dd>

            <dt>
               Usuario
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

            <div style="text-align:center">
                <h3>Información del Apoderado</h3>
            </div>
            <hr/>

            <dt>
               Nombre del Apoderado
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NombreApoderado)
                @Html.DisplayFor(model => model.ApellidoApoderado)
            </dd>

            <dt>
                Usuario del Apoderado
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserApoderado)
            </dd>

            <dt>
                Password
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PasswordApoderado)
            </dd>


        </dl>
    </div>


    <div style="text-align:center">
        <a href="@Url.Action("Edit", "Alumno")" class="btn btn-primary">
            Editar

        </a>
        <a href="@Url.Action("Index", "Alumno")" class="btn btn-primary">
            Regresar

        </a>
    </div>

    <hr />
    <footer>
        <p style="text-align: center">&copy; @DateTime.Now.Year - Santa Teresita App</p>
    </footer>
</div>
