﻿@model ColegioST.Models.Curso



<nav class="navbar navbar-default" id="nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span><span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="A1" class="navbar-brand" href="/Home/Index">Santa Teresita App</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">


                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/Curso/index">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/Docente/index">Docentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/Alumno/Index">Alumnos</a>
                </li>


            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>

<div class="container body-content">

    @{
        ViewBag.Title = "Create";
    }


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <center><h3>Registrar Curso</h3></center>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Grado, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.Grado, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.DropDownList("Grado", new List<SelectListItem>

                 {
                    new SelectListItem{ Text="1°", Value = "1" },
                    new SelectListItem{ Text="2°", Value = "2" },
                    new SelectListItem{ Text="3°", Value = "3" },
                    new SelectListItem{ Text="4°", Value = "4" },
                    new SelectListItem{ Text="5°", Value = "5" }
                    
                 }, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.Grado, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Seccion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.Seccion, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.DropDownList("Seccion", new List<SelectListItem>

                 {
                    new SelectListItem{ Text="A", Value = "A" },
                    new SelectListItem{ Text="B", Value = "B" },
                    new SelectListItem{ Text="C", Value = "C" },
                    new SelectListItem{ Text="D", Value = "D" }
                 }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Seccion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Estado)
                        @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DocenteId, "DocenteId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("DocenteId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DocenteId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" align='center'>
                <i class="icon-search"></i>
                <input type="submit" value="Registrar" class="btn btn-primary" />
                <a href="/Curso/Index" class="btn btn-primary">Cancelar</a>
            </div>
        </div>
    }

    <hr />
    <footer>
        <p style="text-align: center">&copy; @DateTime.Now.Year - Santa Teresita App</p>
    </footer>
</div>


</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<style>
    .checkbox {
        margin-left: 20px;
    }
</style>