﻿@model ColegioST.Models.Curso


<nav class="navbar navbar-default" id="nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span><span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="A1" class="navbar-brand" href="/Home/Index">Santa Teresita App</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">


                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/Curso/index">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/Docente/index">Docentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/Alumno/Index">Alumnos</a>
                </li>


            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>

<div class="container body-content">

    @{
        ViewBag.Title = "Details";
    }

    <div style="text-align:center">
        <h2>Información del Curso</h2>
    </div>

    <div>

        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayFor(model => model.Docente.Nombre)
            </dt>


            <dd>
                @Html.DisplayFor(model => model.Docente.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Grado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Grado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Seccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Seccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Estado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Estado)
            </dd>

        </dl>
    </div>

    <div style="text-align:center">
        <a href="@Url.Action("Edit", "Curso")" class="btn btn-primary">
            Editar

        </a>
        <a href="@Url.Action("Index", "Curso")" class="btn btn-primary">
            Regresar

        </a>
    </div>


    <hr />
    <footer>
        <p style="text-align: center">&copy; @DateTime.Now.Year - Santa Teresita App</p>
    </footer>
</div>


</div>
