﻿@model IEnumerable<ColegioST.Models.Curso>

<nav class="navbar navbar-default" id="nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span><span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="A1" class="navbar-brand" href="/Home/Index">Santa Teresita App</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">


                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/Curso/index">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/Docente/index">Docentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/Alumno/Index">Alumnos</a>
                </li>
                

            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>

<div class="container body-content">

    @{
        ViewBag.Title = "Index";
    }

    @if (TempData["UpdateSuccess"] != null)
    {
        <div class="alert alert-success">@TempData["UpdateSuccess"]</div>
    }

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>




    <center><h2>Cursos Registrados</h2></center>
    <hr />
    <p>

        <div style="text-align:right">
            <a href="@Url.Action("Create", "Curso")" class="btn btn-primary">
                Registrar Nuevo Curso
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        </div>
    </p>


    <div class="table-responsive">
        <table class="table table-striped">
            
                <tr class="bg-secondary">
                    <th>
                        Docente
                    </th>
                    <th>
                        Curso
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Grado)
                    </th>
                    <th>
                        Sección
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th></th>
                </tr>
          
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Docente.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Grado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Seccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        <a href="/curso/edit/@item.CursoId">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a> |
                        <a href="/curso/details/@item.CursoId">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </a>
                        |
                        <a id="deleteItem" class="deleteItem" data-target="#basic" data-toggle="modal" data-path="@Url.Action("Delete", "Curso", new { id = @item.CursoId })">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>

                        <div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                        <h4 class="modal-title">Confirmar Eliminación</h4>
                                    </div>
                                    <div class="modal-body">
                                        Desea elimina este registro ?
                                    </div>
                                    <div class="modal-footer">
                                        <button data-dismiss="modal" type="button" class="btn btn-default">Cancelar</button>
                                        <button id="btnContinueDelete" type="button" class="btn btn-primary">Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </td>
                </tr>
            }

        </table>
        
    </div>

    <hr />
    <footer>
        <p style="text-align: center">&copy; @DateTime.Now.Year - Santa Teresita App</p>
    </footer>
</div>


    <script>
        // $("div").empty();

        $(function () {
            $(".modal-link").click(function (event) {
                event.preventDefault()
                $('#myModal').removeData("modal")
                $('#myModal').modal({ remote: $(this).attr("href") })
            })
        })


        var path_to_delete;

        $(".deleteItem").click(function(e) {
            path_to_delete = $(this).data('path');
        });
        $('#btnContinueDelete').click(function () {
            window.location = path_to_delete;
        });

      

        $(".alert").delay(4000).slideUp(200, function () {
            $(this).alert('close');
        });

        $(".alert-dismissible").fadeTo(2000, 500).slideUp(500, function () {
            $(".alert-dismissible").alert('close');
        });
    </script>