﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        @*<li>
           @Html.ActionLink("Hola " + User.Identity.GetUserName() + "! ", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>*@
        <li><a href="/Account/Login"><span class="glyphicon glyphicon-log-in"></span> &nbsp; Cerrar Sesión</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li><a href="/Account/Register"><span class="glyphicon glyphicon-user"></span> &nbsp; Registrarse</a></li>*@
        <li><a href="/Account/Login"><span class="glyphicon glyphicon-log-in"></span> &nbsp; Cerrar Sesión</a></li>
       @*<li id="asad">@Html.ActionLink(" Cerrar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
        @*@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })*@
    </ul>
}
