﻿@model ColegioST.Models.AlumnoCurso

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AlumnoCurso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Alumno.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alumno.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Curso.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Examen1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Examen1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Examen2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Examen2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ti1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ti1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ti2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ti2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Te1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Te1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Te2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Te2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tv1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tv1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
