﻿@model ColegioST.Models.AlumnoCurso

<nav class="navbar navbar-default" id="nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span><span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="A1" class="navbar-brand" href="/Home/Index">Santa Teresita App</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">


            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>

<div class="container body-content">

    @{
        ViewBag.Title = "Details";
    }

    <h2>Details</h2>

    <div>
        <h4>AlumnoCurso</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Alumno.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Alumno.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Curso.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Curso.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Examen1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Examen1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Examen2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Examen2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ti1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ti1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ti2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ti2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Te1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Te1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Te2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Te2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tv1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tv1)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    <hr />
    <footer>
        <p style="text-align: center">&copy; @DateTime.Now.Year - Santa Teresita App</p>
    </footer>
</div>