﻿@model ColegioST.Models.AlumnoCurso

<nav class="navbar navbar-default" id="nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span><span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="A1" class="navbar-brand" href="/Home/Index">Santa Teresita App</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">


            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>

<div style="text-align:center">
    <h3>Editar Notas del Alumno</h3>
</div>

<div class="container body-content">

    @{
        ViewBag.Title = "Edit";
    }

   


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.AlumnoId)

            @Html.HiddenFor(model => model.CursoId)

            <div class="form-group">
                <label class="control-label col-md-2">Examen 1</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Examen1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Examen1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Examen 2</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Examen2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Examen2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">TI 1</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Ti1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ti1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">TI 2</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Ti2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ti2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">TE 1</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Te1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Te1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">TE 2</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Te2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Te2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">TV 1</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tv1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tv1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" align='center'>
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-primary">Cancelar</a>
                </div>


            </div>
        </div>
    }


    <hr />
    <footer>
        <p style="text-align: center">&copy; @DateTime.Now.Year - Santa Teresita App</p>
    </footer>
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

<style>
    .checkbox {
        margin-left: 20px;
    }
</style>
