﻿@model IEnumerable<ColegioST.Models.AlumnoCurso>


<link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>

<style>
    #a2 {
        font-family: 'Merriweather';
        font-size: 24px;
        align-content: center
    }
</style>


<nav class="navbar navbar-default" id="nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span><span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="A1" class="navbar-brand" href="/Home/Index">Santa Teresita App</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">


            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>

<div class="container body-content">

    @{
        ViewBag.Title = "Index";
    }

    @if (TempData["UpdateSuccess"] != null)
    {
        <div class="alert alert-success">@TempData["UpdateSuccess"]</div>
    }

    <h2 id="a2">Bienvenido @ViewBag.NombreDocente</h2>

    <center><h2>Registro de Notas</h2></center>
    <hr />
    <p>
        <div style="text-align:right">
            <a href="@Url.Action("Create", "AlumnoCurso")" class="btn btn-primary">
                Registrar notas
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        </div>
    </p>
    <div class="table-responsive">

        <table class="table table-striped">
            
            <tr>
                <th>
                    Alumno
                </th>
                <th>
                    Curso
                </th>
                <th>
                    Examen 1
                </th>
                <th>
                    Examen 2
                </th>
                <th>
                    TI 1
                </th>
                <th>
                    TI 2
                </th>
                <th>
                    TE 1
                </th>
                <th>
                    TE 2
                </th>
                <th>
                    TV 1
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Alumno.Nombre)
                        @Html.DisplayFor(modelItem => item.Alumno.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Curso.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Examen1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Examen2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ti1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ti2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Te1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Te2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tv1)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "AlumnoCurso", new { AlumnoId = item.AlumnoId, CursoId = item.CursoId, DocenteId = item.Curso.DocenteId } )"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                        |

                        <a id="deleteItem" class="deleteItem" data-target="#basic" data-toggle="modal" data-path="@Url.Action("Delete", "AlumnoCurso", new { AlumnoId = item.AlumnoId, CursoId = item.CursoId })">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>

                        <div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                        <h4 class="modal-title">Confirmar Eliminación</h4>
                                    </div>
                                    <div class="modal-body">
                                        Desea elimina este registro ?
                                    </div>
                                    <div class="modal-footer">
                                        <button data-dismiss="modal" type="button" class="btn btn-default">Cancelar</button>
                                        <button id="btnContinueDelete" type="button" class="btn btn-primary">Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="basic" tabindex="-1" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                        <h4 class="modal-title">Confirmar Eliminación</h4>
                                    </div>
                                    <div class="modal-body">
                                        Desea eliminar la nota de @item.Alumno del curso de @item.Curso ?
                                    </div>
                                    <div class="modal-footer">
                                        <button data-dismiss="modal" type="button" class="btn btn-default">Cancelar</button>
                                        <button id="btnContinueDelete" type="button" class="btn btn-primary">Eliminar</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </td>
                </tr>
            }

        </table>
    </div>








    <hr />
    <footer>
        <p style="text-align: center">&copy; @DateTime.Now.Year - Santa Teresita App</p>
    </footer>
</div>

    <script>
        // $("div").empty();

        $(function () {
            $(".modal-link").click(function (event) {
                event.preventDefault()
                $('#myModal').removeData("modal")
                $('#myModal').modal({ remote: $(this).attr("href") })
            })
        })


        var path_to_delete;

        $(".deleteItem").click(function (e) {
            path_to_delete = $(this).data('path');
        });
        $('#btnContinueDelete').click(function () {
            window.location = path_to_delete;
        });

        $(".alert").delay(4000).slideUp(200, function () {
            $(this).alert('close');
        });

        $(".alert-dismissible").fadeTo(2000, 500).slideUp(500, function () {
            $(".alert-dismissible").alert('close');
        });
    </script>











