﻿@model IEnumerable<ColegioST.Models.AlumnoCurso>


<link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>

<style>
    #a3 {
        font-family: 'Merriweather';
        font-size: 24px;
        align-content: center
    }
</style>
<nav class="navbar navbar-default" id="nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span><span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="A1" class="navbar-brand" href="/Home/Index">Santa Teresita App</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">


            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>

<div class="container body-content">

    @{
        ViewBag.Title = "VerCursosAlumno";
    }

    <h2>@ViewBag.NombreAlumno</h2>

    <center><h2 id="a3">Record de Notas</h2></center>
    <br />

    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>
                    Curso
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Examen1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Examen2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ti1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ti2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Te1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Te2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tv1)
                </th>
                <th>
                    Promedio
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Curso.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Examen1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Examen2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ti1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ti2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Te1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Te2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tv1)
                    </td>
                    <td>
                        @*@((item.Examen1 + item.Examen2 + item.Ti1 + item.Ti2 + item.Te1 + item.Te2 + item.Tv1) / 7 )*@
                        @{if (item.Promedio > 12)
                            {
                                <p style="color:blue"><b>@Html.DisplayFor(modelItem => item.Promedio)</b></p>
                            }
                            else
                            {
                                <p style="color:red"><b>@Html.DisplayFor(modelItem => item.Promedio)</b></p>
                            }
                        }

                    </td>
                </tr>
                            }

        </table>
        </div>

        <hr />
        <footer>
            <p style="text-align: center">&copy; @DateTime.Now.Year - Santa Teresita App</p>
        </footer>
    </div>
