﻿
<nav class="navbar navbar-default" id="nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span><span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="A1" class="navbar-brand" href="/Home/Index">Santa Teresita App</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">


                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/Curso/index">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/Docente/index">Docentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/Alumno/Index">Alumnos</a>
                </li>


            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>

<div class="container body-content">

    @{
        ViewBag.Title = "Home Page";
    }

    <link href='https://fonts.googleapis.com/css?family=Poiret One' rel='stylesheet'>

    <style>
        #a3 {
            font-family: 'Poiret One';
            font-size: 26px;
        }
    </style>



    <!-- Services -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Servicios</h2>
                    @*<center><img src="~/img/stapp.png"/></center>*@
                    <h3 class="section-subheading text-muted" id="a3">Aplicación desarrollada para el curso de Interacción Humano Computador.</h3>
                    <br />
                    <br />
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-upload fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Actualizacion en tiempo real</h4>
                    <p class="text-muted">
                        No esperes de más, podras ver tus notas ni bien son registradas en nuestra base de datos
                        .
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Servicio las 24hrs.</h4>
                    <p class="text-muted">Los servicios estan disponibles a cualquier hora del día durante los siete días de la semana.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Total Seguridad</h4>
                    <p class="text-muted">Aplicación totalmente confiable, donde tu informacion es totalmente confidencial y segura.</p>
                </div>
            </div>
        </div>
    </section>


    <br />
    <br />
    <br />
    <!-- Footer -->
    <footer style="text-align: center">
        <div class="container" style="text-align: center">
            <div class="row">
                <div class="col-md-4" >
                    <span class="copyright" style="text-align: center">Interacción Humano Computador</span>

                </div>
                <br />


                <div class="col-md-4" style="text-align: center">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item">
                            <a href="#" style="text-align: center">Politicas de Privacidad</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" style="text-align: center">Terminos de Usuario</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4" style="text-align: center">
                    <ul class="list-inline social-buttons" style="align-content:center">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item" style="align-content:center">
                            <a href="#" style="align-content:center">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <hr />
    <footer>
        <p style="text-align: center">&copy; @DateTime.Now.Year - Santa Teresita App</p>
    </footer>
</div>